@font-face
    font-family: Cantarell
    src: url(../fonts/cantarell/Cantarell-Regular.otf) format('opentype')

@font-face
    font-family: Cantarell
    src: url(../fonts/cantarell/Cantarell-Bold.otf) format('opentype')
    font-weight: bold

@font-face
    font-family: Cantarell
    src: url(../fonts/cantarell/Cantarell-Oblique.otf) format('opentype')
    font-style: oblique

@font-face
    font-family: Cantarell
    src: url(../fonts/cantarell/Cantarell-BoldOblique.otf) format('opentype')
    font-weight: bold
    font-style: oblique
