@font-face
    font-family: NotoEmojiColor
    src: url(../fonts/noto_emoji/NotoColorEmoji.ttf)

@font-face
    font-family: NotoEmoji
    src: url(../fonts/noto_emoji/NotoEmoji-Regular.ttf)

@font-face
    font-family: Cantarell
    src: url(../fonts/cantarell/Cantarell-Regular.otf)

@font-face
    font-family: Cantarell
    src: url(../fonts/cantarell/Cantarell-Bold.otf)
    font-weight: bold

@font-face
    font-family: Cantarell
    src: url(../fonts/cantarell/Cantarell-Oblique.otf)
    font-style: oblique

@font-face
    font-family: Cantarell
    src: url(../fonts/cantarell/Cantarell-BoldOblique.otf)
    font-weight: bold
    font-style: oblique
