*, *:before, *:after
    box-sizing: inherit

.placeholder-help
    opacity: .5

    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center

    width: 75%

    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    user-select: none
    cursor: default

    .button.button-disabled
        opacity: 1 !important

.about-line
    // -webkit-backface-visibility: hidden
    font-size: 1.5em
    margin-bottom: 10px !important
    cursor: pointer

    &:last-child
        margin-bottom: 0 !important

    span
        // to make the ::after's absolute position work properly when the view
        // is scrolled
        position: relative
        &::after
            content: "\0025B6"
            // animate color instead of opacity because opacity causes bluriness
            // for some strange reason
            transition: margin-left 200ms, color 200ms
            color: transparent
            margin-left: 0
            // if there's stuff after, make sure it doesn't move with the animation
            position: absolute

    &:hover
        color: $accent
        span::after
            color: $accent
            margin-left: .5em

.spinning-wheel-of-death
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj48c3R5bGU+Knt0cmFuc2Zvcm0tb3JpZ2luOiBjZW50ZXJ9LmJ7c3Ryb2tlOiMyNjc5RkY7ZmlsbDpub25lO3N0cm9rZS13aWR0aDoxMDtzdHJva2UtbGluZWNhcDpyb3VuZDthbmltYXRpb246ZCAxLjVzIGVhc2UtaW4tb3V0IGluZmluaXRlO3N0cm9rZS1kYXNoYXJyYXk6MjgzfUBrZXlmcmFtZXMgY3swJXt0cmFuc2Zvcm06cm90YXRlKDM2MGRlZyl9MTAwJSB7dHJhbnNmb3JtOnJvdGF0ZSgwZGVnKX19QGtleWZyYW1lcyBkezAle3N0cm9rZS1kYXNob2Zmc2V0OjE0Mjt0cmFuc2Zvcm06cm90YXRlKDE4MGRlZyl9NTAle3N0cm9rZS1kYXNob2Zmc2V0OjI4Mzt0cmFuc2Zvcm06cm90YXRlKDE4MGRlZyl9MTAwJXtzdHJva2UtZGFzaG9mZnNldDogMTQyO3RyYW5zZm9ybTogcm90YXRlKDBkZWcpfX0uZXt9PC9zdHlsZT48ZyBzdHlsZT0iYW5pbWF0aW9uOmMgMThzIHN0ZXBzKDEyKSBpbmZpbml0ZSI+PGcgY2xhc3M9ImIiPjxjaXJjbGUgdHJhbnNmb3JtPSJyb3RhdGUoMTgwKSIgY3g9IjUwIiBjeT0iNTAiIHI9IjQ1Ij48L2NpcmNsZT48L2c+PGcgY2xhc3M9ImIiPjxjaXJjbGUgY3g9IjUwIiBjeT0iNTAiIHI9IjQ1Ij48L2NpcmNsZT48L2c+PC9nPjwvc3ZnPg==)
    background-size: cover

    display: inline-block
    height: 1em
    width: 1em

    // "sub" looks best for some reason
    vertical-align: sub

    margin-right: 6px
    &.big-spinning-wheel-of-death
        width: 2em
        height: 2em

.password-strength
    position: relative
    .password-strength-text
        opacity: .5
        position: absolute
        right: 0
        padding: 5px
        &.rejected
            color: $error
        &.weak
            color: mix($error, $accent)
        &.strong
            color: $accent

.tag-wrapper
    position: relative
    display: inline-block
    cursor: default
    background-color: $background

    .tag-description
        display: none
        position: absolute
        z-index: 1
        background-color: $background
        border: 1px solid $outline
        min-width: 10em
    &:hover
        .tag-description
            display: block

.highlighted-message
    border: 3px solid $accent
    border-radius: 3px
    padding: .5em

.highlighted-error-message
    border: 3px solid $error
    border-radius: 3px
    padding: .5em

.mainpanel
    flex: 1 1 auto
    position: relative

    // required on firefox. makes sure the panel scrolls rather than the entire
    // page
    height: 100%

    // forces the treeview to scroll properly
    overflow: hidden

.settings-section
    margin-top: 1em
    div
        margin-bottom: 1em

.account-menu
    position: absolute
    right: 6px
    top: 6px

.extref::after
    // content: "\01F517"

.edit-visible
    display: none !important

.editing
    .edit-visible
        display: block !important
    .edit-invisible
        display: none !important
    .button.edit-visible
        display: inline-block !important
    .flexbox-column.edit-visible
        display: flex !important
    .inline.edit-visible
        display: inline !important
    .spreadsheet-cell
        .edit-visible
            display: table-cell !important

.edit-button
    float: right

.nobutton
    background-color: $background
    color: $foreground
    font: inherit
    line-height: 1em
    border: none
    outline: none
    cursor: pointer

.dropzone
    width: 100%
    height: 300px
    border: 6px dashed $accent
    box-sizing: border-box
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    &.dropzone-active
        border: 6px solid $accent
    &.dropzone-short
        height: auto
        padding: 1em
    &>div
        input
            border: 1px solid $outline

.toolbar
    padding: 6px

.thumbnail
    height: 150px

.column
    width: 50%
    position: relative

.center-column
    width: 66%
    margin-left: auto
    margin-right: auto

@media screen and (max-width: 999px)
    .column
        width: 100%

.logo
    height: 1em
    width: auto

.emojiwrapper
    position: relative
    display: inline-block

    .emojipicker
        display: none

        margin-top: 3px
        position: absolute
        left: -6em
        z-index: 1

        box-shadow: 0 0 6px $outline
        border-radius: 6px
        background-color: $background

        .emojipicker-container
            max-width: 100vw
            max-height: 100vh
            width: 15em
            height: 20em
            overflow-y: auto
            overflow-x: hidden

            overflow-wrap: break-word

            &>*
                border-bottom: 3px solid $background
                cursor: pointer
                &:hover
                    border-bottom: 3px solid $accent

        &.shown
            display: block

.attachments
    display: table
    width: 100%
    border-spacing: 0 1em
    &>*
        display: table-row
        &>*
            &:last-child
                width: 100%
            display: table-cell
            vertical-align: top

.logout-button
    color: inherit
    font: inherit
    background: none
    border: none
    padding: 0
    margin: 0 !important
    width: 100%
    text-align: left
    cursor: pointer

.snippet
    position: relative
    // margin-bottom: 1em

    .snippetdeletetools
        position: absolute
        right: 0
        top: 6px

        .copytoclipboard
            margin-right: .5em
            transition-duration: 150ms
            background-color: $background
            padding: 3px
            &.initial
                opacity: 0
