.tab-wrapper
    margin-bottom: 6px

    // to make room for the split pane gutter to the left
    margin-left: .5em

    padding-right: .5em

    display: flex
    flex-flow: column

    // prevents wide content from making the tab wrapper bigger than the screen
    // and forces it to scroll by itself
    overflow: hidden

    .tabrow
        // to prevent the top of the edit button from being clipped
        padding: 3px 0

        .tabrow-button
            border-bottom: 3px solid $background
            margin-right: 1em
            cursor: default
            // this causes buttons to wrap lines properly
            display: inline-block
        .tabrow-button-selected
            border-bottom-color: $accent

    .tab-container
        flex: 1 1 auto
        display: flex
        flex-flow: column
        max-height: 100%
        overflow-y: auto
        .tab
            flex: 1 1 auto
            height: 100%
            display: none
            &>*
                margin-bottom: 1em
            &>*:last-child
                margin-bottom: 0
        .tab-visible
            display: flex
            flex-flow: column
