// Code for minor tweaks, mostly just classes that apply a single style.
// This is helpful for easily adding, for example, a margin here and there

.flexbox
    display: flex
    .flexitem-wide
        flex-grow: 100

.flex-grow
    flex: 1 1 auto

.flexbox-column
    display: flex
    flex-flow: column

.text-center-vertical
    *
        vertical-align: middle

.vertical-align-middle
    vertical-align: middle


.fullwidth
    width: 100%


.invisible
    display: none !important

.hidden
    visibility: hidden

.bold
    font-weight: bold

.cursor-pointer
    cursor: pointer

.padding-left
    padding-left: 1em
.padding-right
    padding-right: 1em

.margin-3px
    margin: 3px
.margin-top-3px
    margin-top: 3px
.margin-right-3px
    margin-right: 3px
.margin-left-3px
    margin-left: 3px

.margin-bottom
    margin-bottom: 1em
.margin-right
    margin-right: 1em
.no-margin-right
    margin-right: 0 !important

.margin-top
    margin-top: 1em

.margin-left
    margin-left: 1em

.float-left
    float: left

.float-right
    float: right
