.welcome
    // to make the welcome menu stay in place
    margin-top: -6px

    padding: 0 .5em

    ul
        list-style: none
        padding-left: 0
        li
            margin-bottom: 1em
            .project-title
                font-weight: bold
            .project-owner
                float: right
                margin-right: 1em

    .welcome-menu
        position: sticky
        top: 0
        background-color: $background

        .menu
            position: absolute
            right: 0
