@font-face {
    font-family: NotoEmojiColor;
    src: url(../fonts/noto_emoji/NotoColorEmoji.ttf) format('opentype');
}

@font-face {
    font-family: NotoEmoji;
    src: url(../fonts/noto_emoji/NotoEmoji-Regular.ttf) format('truetype');
}
